$greyscale-palette: (
  50: #ffffff,
  100: #f6f6f6,
  200: #eaeaea,
  300: #d6d6d6,
  400: #c1c1c1,
  500: #a7a7a7,
  600: #8c8c8c,
  700: #717171,
  800: #585858,
  900: #333333,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
  ),
);
